.timelinechart {
  position: relative;
}

.timelinechart .fo h3{
  font-size: 14px;
}

.timelinechart .fo {
  width: 100%;
  position: absolute;
  padding: 5px;
}

.timelinechart .rangeSelector{
  float: right;
  padding: 0;
}

.timelinechart .navbuttons{
  display: inline-block;
  float: left;
}

.timelinechart .navbuttons button{
  padding: 0 2px;
}

.timelinechart .title{
  textAlign: center;
  float: left;
  margin: 0 10px;
}

.timelinechart .bottomAxis text {
	   shape-rendering: crispEdges;
	}

.timelinechart .bottomAxis line {
	  stroke: black;
	 stroke-width: 1.0;
}
.timelinechart .bottomAxis path {
  stroke: black;
 stroke-width: 1.0;
  fill: none;
}

.timelinechart .sideAxis text {
	   shape-rendering: crispEdges;
	}

.timelinechart .sideAxis line {
	  stroke: black;
	 stroke-width: 1.0;
}
.timelinechart .sideAxis path {
  stroke: black;
 stroke-width: 1.0;
  fill: none;
}

.timelinechart .backlines line {
   stroke: lightgray;
   stroke-width: 1.0;
 }

.timelinechart .backlines path {

  fill: none;
}

.timelinechart .graphline {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.timelinechart .bar {
  visibility: hidden;
  fill: #ddd;
  stroke-width: 0;
}

.timelinechart .bar.over {
  visibility: visible;
}

.timelinechart .frontbar {
  fill-opacity:0;
  stroke-width: 0;
}

@keyframes entrance {
    from {
      fill-opacity: 0;
    }
    to {fill-opacity: 1;}
}

.timelinechart .point {
  fill: #333;
  stroke-width: 0;
  visibility: hidden;
}
.timelinechart .point.over {
  visibility: visible;
  animation-name: entrance;
  animation-duration: 0.2s;
}

.timelinechart a.close{
  float: right;
  cursor: pointer;
  color: steelblue;
  padding: 2px;
  font-size: 12px;
}
